/*To add CSS */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: orange;
}

.row {
  display: flex;
}

#column1 {
  height: 94vh;
  width: 10%;
  min-width: 11.5em;
  /*Just so, when condensed, and resize windo, doesn't go nuts*/
  outline: 2px solid green;
  outline-offset: -2px;
  color: white;
  margin-top: 0;
  padding-top: 0;
  white-space: nowrap;
  /*Text goes out of div*/
  overflow-y: auto;
  overflow-x: hidden;
  /*Vertical scrollbar - only if items go out of vh*/
  /*Horizontal scroll - never */
}

/*Not 77, but 100, wether i hide other panels it stays fullscreen :) */
#column2 {
  height: 94vh;
  width: 100%;
  min-width: 9.5em;
  outline: 2px solid orange;
  outline-offset: -2px;
  color: white;
  margin-top: 0;
  padding-top: 0;
  padding: 5px;
  z-index: 1;
}

#column3 {
  height: 94vh;
  width: 12%;
  min-width: 9.5em;
  outline: 2px solid brown;
  outline-offset: -2px;
  color: white;
  margin-top: 0;
  padding-top: 0;
  padding: 5px;
}

.column1_mini {
  width: 3% !important;
  min-width: 4em !important;
  transition: all 0.6s;
}

/*Must be 97 in case col3 hidden + mini-menu*/
.column2_expand {
  width: 100%;
  transition: width 0s;
}



.column2_extend {
  width: 97% !important;
  transition: width 0s;
}

.column2_full {
  width: 100% !important;
  transition: width 0s;
}

nav {
  height: 6vh;
  width: 100%;
  background: #3c8dbc;

  /*Floats over first 5%vh of column1*/
  display: flex;
  color: white;
}

/*!important on display might be good*/
nav #left_part {
  width: 10%;
  min-width: 11.5em;
  height: 6vh;
  outline: 2px solid gray;
  outline-offset: -2px;
  float: left;
}

nav #rest_of_it {
  outline: 2px solid gainsboro;
  outline-offset: -2px;
  width: 100%;
  min-width: 9.5em;
  z-index: 1;
  background: #3C8DBC;
  height: 6vh;
  float: left;
}

nav #rest_of_it i {
  padding: 12px;
}

nav #left_part i {
  padding: 12px 21px 12px 18px;
  font-size: 22px;

  display: inline-block;
  color: orange;
}

nav #left_part span {
  margin-left: 10px;
}

.displayNone {
  display: none;
  /* Add transition here */
}

/*
#sidebar_menu li .dd-button {
  transition-timing-function: ease-out;
  transition: all 0.5s;
}*/


/*Mini me text & icons */
.displayNoneB {
  display: block;
  font-size: 9px;
  transition-timing-function: ease;
  transition: all 0.4s;
}

span#logotext.displayNoneB {
  margin: auto;
}

a:active {
  background: red;
}



/*Lista din col1 */



.dropdown {
  display: inline-block;
  width: 100%;
  background: #222D32;

}


.dd-button {
  cursor: pointer;
  padding: 10px 15px;
  font-size: 20px;
  color: #d2d6de;

}

.dd-button span {
  margin-left: 15px;
}


/*Arrows 
.dd-button:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}
*/

.dd-button:hover {
  background: #2C3B41;
  color: white;
}



.dd-input {
  display: none;
}





.dd-menu {
  /*add following 5 lines on mini-version and make .dd-input:hover ----------------------------------   
  position: absolute;
  left: 63px;
  top: 44px;
  z-index: 99999;
  height: 95vh;
*/
  padding: 0;

  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  opacity: 0.8;
  /* COuld remove, just for better view of underlist mini */
  list-style-type: none;
}

/* checked means click. hover is on hover*/
.dd-input:checked+.dd-menu {
  display: block;
}




/*Initial display set to none*/
.dd-input+.dd-menu {
  display: none;
}


/*Menu styling*/
.dd-menu li {
  padding: 10px 20px;
  cursor: pointer;

}

/*Will color hover all li a not current, i don;t like it 
.selector:hover .dd-menu li a {
  background: orangered;
}
*/

/*Colors parent on li a hover - Works!*/
.selector:hover .dd-button {

  color: white;
}

.dd-menu li a {
  background: #2C3B41;
  border-left: 4px solid transparent;
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
  color: white;
}


.dd-menu li a:hover {
  border-left: 4px solid #3498db;
  background-color: #1E282C;
}

.dd-menu li.divider {
  padding: 0;
  border-bottom: 1px solid #1E282C;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dd-menu a {
  text-decoration: none;
}

/* End of lista col1*/
.show {
  display: block;
}

.active {
  background: #1E282C;
}

#burger {
  cursor: pointer;
}

.hide_minimenu {
  cursor: pointer;
  position: absolute;
  font-size: 15px;
  right: 105px;
  z-index: 999;
  opacity: 0.6;
}

.hide_rightmenu {
  cursor: pointer;
  position: absolute;
  font-size: 15px;
  right: 5px;
  z-index: 99999;
  opacity: 0.6;
}

.textCenter {
  text-align: center;
}

label.dropdown:checked {
  background: red;
  color: red;
}